.education-card {
  padding: 20px;
  background-color: var(--color-grey-light);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 3px solid var(--color-dark-1);
  margin-right: 30px;

  &__icon-background {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 30%;
    left: -20%;
    fill: var(--color-grey);
    z-index: 0;
  }
}