.work-card {
    display: flex;
    margin-right: 30px;
    flex-direction: column;
    position: relative;
    overflow: visible;
    max-height: 100%;
    min-width: 340px;

    &__container {
      position: relative;
      max-height: calc(100% - 30px);
      padding-bottom: 20px;
    }

    &__title {
        background-clip: text;
        -webkit-text-fill-color: transparent;
        width: fit-content;
        background-image: linear-gradient(
            90deg,
            var(--color-headline-1),
            var(--color-headline-2)
        );
        margin-bottom: 5px;
    }

    &__time-range {
        color: var(--color-white);
        margin-bottom: 15px;
    }

    &__description {
        color: var(--color-grey);
        margin-bottom: 10px;
    }

    &__timeline {
        width: 5px;
        background-image: linear-gradient(
                120deg,
                var(--color-headline-1),
                var(--color-headline-2)
            );
        flex: 1 0 auto;
        margin: 0 auto;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            transform: translate(-50%, 50%);
            width: 15px;
            height: 15px;
            background: var(--color-headline-2);
            left: 50%;
            border-radius: 10px;
        }
    }

    &:not(:first-child) {
      &::before {
        content: "";
        position: absolute;
        width: calc(50% + 15px);
        left: -15px;
        bottom: -3px;
        height: 5px;
        background: var(--color-headline-2);
      }
    }

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        width: calc(50% + 15px);
        right: -15px;
        bottom: -3px;
        height: 5px;
        background: var(--color-headline-2);
      }
    }
}
