.start-hero {
    width: 100%;
    background-color: var(--color-dark-1);

    &__inner-container {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        width: 80%;
        max-width: 1350px;
        min-height: 100vh;

        > * {
            width: 50%;
            padding: 30px;

            @media (max-width: 650px) {
              width: 65%;
            }
        }

        > *:last-child {
          width: 50%;
          padding: 10px;
        }

        @media (max-width: 650px) {
          flex-direction: column;
          padding-top: 50px;
          justify-content: center;

          > *:last-child {
            width: 100%;
            padding: 10px;
          }
        }
    }

    &__image-block {
        align-self: center;
        max-height: 80%;
        height: fit-content;
        max-height: 90%;
        max-width: 540px;
        overflow: hidden;
        padding: 50px;
        position: relative;

        &::after,
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 100px;
          height: 7px;
          background-color: var(--color-white);
        }

        &::after {
          top: 25px;
          right: 50px;
        }

        &::before {
          bottom: 25px;
          left: 50px;
        }

        @media (max-width: 1023px) {
          margin-left: 10px;
          padding-right: 30px;

          &::after {
            right: 30px;
          }
        }

        @media (max-width: 650px) {
          margin-left: 0;
          padding: 10px;

          &::after {
            right: 10px;
            top: 7px;
            height: 5px;
          }

          &::before {
            left: 10px;
            bottom: 11px;
            z-index: 10;
            height: 5px;
          }
        }
    }

    &__image-container {
      overflow: hidden;
      max-height: 100%;
      max-width: 100%;
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__text {
      @media (max-width: 1023px) {
        font-size: 18px;
      }

      @media (max-width: 950px) {
        font-size: 17px;
      }

      @media (max-width: 880px) {
        font-size: 16px;
      }

      @media (min-width: 1600px) {
        font-size: 22px;
      }
    }

    &__button-container {
      margin-top: 20px;
    }
}
