.section-headline {
  font-family: 'Georama', sans-serif;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 10px;
  font-size: 70px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  background-image: linear-gradient(
    90deg
    ,var(--color-headline-1),var(--color-headline-2));

  @media (max-width: 600px) {
    font-size: 45px;
  }

  &--main {
    font-size: 80px;
  }

  &--tertiary {
    font-size: 40px;

    @media (max-width: 600px) {
      font-size: 36px;
    }
  }
}