.stack-hero {
  display: block;
  background-color: var(--color-dark-2);
  height: 650vh;

  &__content {
    min-height: 100vh;
    max-height: 100vh;
    position: sticky;
    top: 0;
  }

  &__header {
    width: 80%;
    margin: 0 auto;
    padding: 35px 0 10px 50px;
  }

  &__slider-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    height: calc(100vh - 150px);
  }
}