.scroll-hero {
  display: block;
  background-color: var(--color-dark-2);
  position: relative;

  &--primary {
    background-color: var(--color-dark-1);
  }

  &__content {
    min-height: 100vh;
    max-height: 100vh;
    position: sticky;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &__header {
    width: 80%;
    margin: 0 auto;
    padding: 45px 0 10px 50px;
  }

  &__subtext {
    margin-top: -10px;

    @media (max-width: 500px) {
      font-size: 17px;
    }
  }

  &__slider-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0 70px;
    display: flex;
    height: calc(100vh - 160px);

    @media (max-width: 500px) {
      padding-bottom: 125px;
    }

    @media (min-height: 970px) {
      padding-bottom: 125px;
    }
  }

  &__section-middle {
    position: absolute;
    bottom: 100vh;
    height: 0;
  }
}