.scrollable-content {
    overflow-y: auto;
    max-height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 20px 20px 0;

    &--no-gutter-top {
      padding-top: 0;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &__top-shadow {
      position: absolute;
      top: 0;
      height: 50px;
      width: 100%;
      z-index: 9999;
      left: 0;
      background: linear-gradient(180deg, var(--color-white) 0%, var(--color-white) 20%, rgba(2,0,36,0) 100%);
      transition: 0.4s ease;

      &--dark {
        background: linear-gradient(180deg, var(--color-dark-1) 0%, var(--color-dark-1) 20%, rgba(2,0,36,0) 100%);
      }
    }

    &__bottom-shadow {
      position: absolute;
      bottom: 0;
      height: 50px;
      width: 100%;
      z-index: 9999;
      left: 0;
      background: linear-gradient(180deg, rgba(2,0,36,0) 0%, var(--color-white) 80%, var(--color-white) 100%);
      transition: 0.4s ease;

      &--dark {
        background: linear-gradient(180deg, rgba(2,0,36,0) 0%, var(--color-dark-1) 80%, var(--color-dark-1) 100%);
      }
    }
}   
