@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;900&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --color-black: #282c2c;
  --color-dark-1: #2d3436;
  --color-dark-2: #485460;
  --color-headline-1: #e74c3c;
  --color-headline-2: #f1c40f;
  --color-orange: #f39c12;
  --color-grey: #bdc3c7;
  --color-grey-light: #ecf0f1;
  --color-white: white;
  font-family: 'Georama', sans-serif;
}

body {
  overflow-x: hidden;
}

p {
  color: var(--color-white);
  font-size: 21px;
  font-family: 'Georama', sans-serif;
}

.swiper {
  overflow: visible!important;
}
